<!DOCTYPE html>
<html lang="eng"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Assign Tasks</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('assign-tasks')"></th:block> /*/-->
</header>

<main class="container">

    <div class="card mb-3">
        <div class="card-header">
            <h1 class="my-highest-header">Assign tasks to user</h1>
        </div>
        <!--card with all user miniatures, full width--------------------------------------->
        <div class="card-body">

            <h2 class="my-second-header">Choose user</h2>

            <div class="card-deck">
                <div th:each="user:${users}" class="col-12 col-sm-3">

                    <a th:href="${'/assignment/' + user.id}" class="btn text-left">

                        <!--user's card is highlighted when selected-->
                        <div class="card mb-3"
                             th:classappend="${selectedUser!=null and selectedUser.id==user.id} ?'my-button-selected'">
                            <div class="row">

                                <div class="col-5">
                                    <img class="card-img-left embed-responsive embed-responsive-3by4"
                                         th:src="${user.photo}" alt="user photo">
                                </div>

                                <div class="col-7">
                                    <div th:text="${user.name}"></div>
                                    <small>tasks in progress:</small>
                                    <div th:if="${user.getTasksInProgress().size() gt 0}"
                                         th:text="${user.getTasksInProgress().size()}">
                                    </div>
                                    <div th:if="${user.getTasksInProgress().size()==0}">0</div>
                                </div>

                            </div>
                        </div>
                    </a>

                </div>
            </div>

            <hr class="my-4">

            <h2 class="my-second-header" th:if="${selectedUser==null}">No user is selected</h2>
            <h2 class="my-second-header" th:unless="${selectedUser==null}">
                <span class="text-success"
                      th:text="${selectedUser.getName() +' is selected'}">
                </span>
            </h2>

            <hr class="my-4">

            <!--section active only if user is selected-->
            <div class="row" th:if="${selectedUser!=null}">

                <!--left card with TASKS assigned to selected user, 1/2 width--------------------------------------->
                <div class="col-sm-6 col-12">
                    <div class="card mr-2">
                        <div class="card-header">
                            <h2 class="my-second-header"
                                th:text="'Tasks in Progress ('+${selectedUser.getName()}+' is working on them)'"
                            ></h2>
                        </div>
                        <table class="table table-hover text-left">
                            <thead class="table-info">
                            <tr>
                                <th class="col-sm-6">Task name</th>
                                <th class="col-sm-4">Days left</th>
                                <th class="col-sm-2">Action</th>
                            </tr>
                            </thead>

                            <!--left table content when user has some tasks in progress-->
                            <tbody th:if="${selectedUser.getTasksInProgress().size() gt 0}">
                            <tr th:each="t:${selectedUser.getTasksInProgress()}">

                                <!--Task in progress name-->
                                <td th:text="${t.name}"></td>

                                <!--Days left-->
                                <td class="text-center col-1">
                                    <!--/*/ <th:block th:include="fragments/days-left-until-deadline :: daysLeft(${t})"></th:block> /*/-->
                                </td>

                                <!--Unassign button-->
                                <td>
                                    <a th:href="${'/assignment/unassign/' + selectedUser.getId()+'/'+t.id}"
                                       class="btn btn-outline-success btn-sm mb-2"
                                    >Unassign</a>
                                </td>

                            </tr>
                            </tbody>

                            <!--left table content when user has no task in progress-->
                            <tbody th:if="${selectedUser.getTasksInProgress().size() eq 0}">
                            <tr>
                                <td th:text="${'There are no tasks assigned to '+selectedUser.getName()}"></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <!--right card with all free TASKS, 1/2 width--------------------------------------->
                <div class="col-sm-6 col-12">
                    <div class="card ml-2">
                        <div class="card-header">
                            <h2 class="my-second-header"
                                th:text="'Free Tasks (assign them to '+${selectedUser.getName()}+')'"
                            ></h2>
                        </div>

                        <table class="my-tab table table-hover text-left">

                            <thead class="table-secondary">
                            <tr>
                                <th class="col-sm-6">Task name</th>
                                <th class="col-sm-4">Days left</th>
                                <th class="col-sm-2">Action</th>
                            </tr>
                            </thead>

                            <!--right table content there are some free tasks-->
                            <tbody>
                            <tr th:each="ft:${freeTasks}" th:unless="${freeTasks.size()==0}">

                                <!--Free task name-->
                                <td th:text="${ft.name}"></td>

                                <!--Days left-->
                                <td class="text-center col-1">
                                    <!--/*/ <th:block th:include="fragments/days-left-until-deadline :: daysLeft(${ft})"></th:block> /*/-->
                                </td>

                                <!--Assign button-->
                                <td>
                                    <a th:href="${'/assignment/assign/' + selectedUser.getId()+'/'+ft.id}"
                                       class="btn btn-outline-success btn-sm mb-2"
                                    >Assign</a>
                                </td>
                            </tr>

                            <!--right table content there are some free tasks-->
                            <tr th:if="${freeTasks.size()==0}">
                                <td>There are no tasks to assign</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

<!--remain scroll position after redirect-->
<script src="js/main.js"></script>

</body>
</html>