<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Tasks List</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('tasks-list')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h3 class="card-header">Tasks List</h3>

        <div class="card card-body">
            <table class="my-tab table table-hover text-center">

                <thead class="table-info">
                <tr>
                    <th class="text-left">Task name</th>
                    <th>Date</th>
                    <th>Completed</th>
                    <th>Task owner</th>
                    <th>Task creator</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="t : ${tasks}">
                    <!--Task name-->
                    <td class="text-left" th:text="${t.name}"></td>

                    <!--Date-->
                    <td th:text="${#temporals.format(t.date, 'dd-MM-yyyy')}"></td>

                    <!--Completed / In progress-->
                    <td>
                        <a th:href="${t.completed} ? ${'/task/markUndone/' + t.id} : ${'/task/markDone/' + t.id}"
                           th:class="${t.owner==null} ? 'disabled nav-link my-link' : 'nav-link my-link'"
                        ><i th:class="${t.completed} ? 'far fa-check-square my-check':'far fa-square my-check'"></i>
                        </a>
                    </td>

                    <!--Task owner-->
                    <td th:if="${t.owner!=null}">
                        <div th:text="${t.owner.getName()}"></div>
                    </td>

                    <td class="text-center" th:unless="${t.owner!=null}">-</td>

                    <!--Task creator-->
                    <td th:text="${t.creator.getName()}"></td>

                    <!--edit button-->
                    <td>
                        <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-success btn-sm">Edit</a>
                    </td>

                    <!--delete button-->
                    <td>
                        <a data-toggle="modal" data-target="#modal-delete"
                           th:attr="data-target='#modal-delete'+${t.id}"
                           th:href="${'/task/delete/' + t.id}"
                           class="btn btn-outline-danger btn-sm">Delete
                        </a>
                    </td>

                    <!--modal for delete confirmation-->
                    <div class="modal" th:id="modal-delete+${t.id }">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-danger">Delete Confirmation</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${'Are you sure you want to delete task: &quot '+t.name+'&quot?'}"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <a th:href="${'/task/delete/' + t.id}">
                                        <span class="btn btn-danger">Delete</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of modal for delete confirmation-->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>