<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Tasks List</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('tasks-list')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Tasks List
            <span th:unless="${onlyInProgress}">
                <a href="/tasks/in-progress" class="btn btn-outline-info btn-lg float-right">Hide Completed Tasks</a>
            </span>
            <span th:if="${onlyInProgress}">
                <a href="/tasks" class="btn btn-outline-info btn-lg float-right">Show Completed Tasks</a>
            </span>
        </h1>

        <div class="card card-body">
            <table id="sortableTable" class="my-tab table table-hover text-center"
                   style="table-layout: fixed; width: 100%;">

                <thead class="table-primary">
                <tr>
                    <th style="width:40%" class="text-left">Task name</th>
                    <th style="width:12%">Date</th>
                    <th style="width:8%" class="d-none d-lg-table-cell">Days left</th>
                    <th style="width:8%">Completed</th>
                    <th style="width:8%" class="d-none d-lg-table-cell">Task owner</th>
                    <th style="width:8%" class="d-none d-lg-table-cell">Task creator</th>
                    <th style="width:16%" class="d-none d-lg-table-cell" colspan="2">Actions</th>
                </tr>

                </thead>

                <tbody>

                <tr th:each="t : ${tasks}"
                    th:if="${!onlyInProgress or !t.completed}"
                    th:with="isThisOneSigned=${t.owner!=null ? t.owner.equals(signedUser) : false}"
                >
                    <!--Task name and description link-->
                    <td class="text-left">
                        <span>
                            <a data-toggle="modal" data-target="#modal-details"
                               th:attr="data-target='#modal-details'+${t.id}"
                               th:href="${'/task/' + t.id}"
                               class="nav-link my-link px-1 d-inline"
                               th:text="${t.name}+' '"
                            ></a>
                            <a data-toggle="modal" data-target="#modal-details"
                               th:attr="data-target='#modal-details'+${t.id}"
                               th:href="${'/task/' + t.id}"
                               class="btn-link d-inline"
                            >
                            <small class="badge badge-light">more</small>
                            </a>

                        </span>
                    </td>

                    <!--modal with task details-->
                    <div class="modal" th:id="modal-details+${t.id}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 th:text="${t.name}" class="modal-title text-info"></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${'Description: '+t.description}"></p>
                                    <p th:text="${'Date: '+#temporals.format(t.date, 'dd-MM-yyyy')}"></p>
                                    <p th:if="${t.owner!=null}" th:text="${'Task owner: '+t.owner.getName()}"></p>
                                    <p th:text="${'Task creator: '+t.creatorName}"></p>
                                    <!--edit button-->
                                    <div th:if="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <a th:href="${'/task/edit/' + t.id}"
                                           class="btn btn-outline-success btn-sm">Edit</a>
                                    </div>

                                    <div th:unless="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                                                title="Only task owner or admin can edit this task">
                                            <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-secondary btn-sm disabled">Edit</a>
                                        </span>
                                    </div>
                                    <!--delete button-->
                                    <div th:if="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <a data-toggle="modal" data-target="#modal-delete"
                                           th:attr="data-target='#modal-delete'+${t.id}"
                                           th:href="${'/task/delete/' + t.id}"
                                           class="btn btn-outline-danger btn-sm">Delete
                                        </a>
                                    </div>

                                    <div th:unless="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                                                title="Only task owner or admin can delete this task">
                                            <a href="" class="btn btn-outline-secondary btn-sm disabled">Delete</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of modal with task details-->

                    <!--Date-->
                    <td th:text="${#temporals.format(t.date, 'dd-MM-yyyy')}"
                        th:data-order="${t.date}"
                    ></td>

                    <!--Days left-->
                    <td class="text-center col-1 d-none d-lg-table-cell"
                        th:data-order="${t.date}">
                        <!--/*/ <th:block th:include="fragments/days-left-until-deadline :: daysLeft(${t})"></th:block> /*/-->
                    </td>

                    <!--Completed / In progress-->
                    <td th:data-order="${t.completed} ? 1 : 0"
                        th:if="${isAdminSigned or isThisOneSigned}">
                        <a th:href="${t.completed} ? ${'/task/unmark-done/' + t.id} : ${'/task/mark-done/' + t.id}"
                           th:class="${t.owner==null} ? 'disabled nav-link my-link' : 'nav-link my-link'"
                        ><i th:class="${t.completed} ? 'far fa-check-square my-check':'far fa-square my-check'"></i>
                        </a>
                    </td>

                    <td th:data-order="${t.completed} ? 1 : 0"
                        th:unless="${isAdminSigned or isThisOneSigned}">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Only task owner or admin can mark tasks completed/uncompleted">
                            <a th:href="${t.completed} ? ${'/task/unmark-done/' + t.id} : ${'/task/mark-done/' + t.id}"
                               class="disabled nav-link my-link"
                            ><i th:class="${t.completed} ? 'far fa-check-square my-check':'far fa-square my-check'"></i>
                            </a>
                        </span>
                    </td>

                    <!--Task owner-->
                    <td th:if="${t.owner!=null}" class="d-none d-lg-table-cell">
                        <div th:text="${t.owner.getName()}"></div>
                    </td>

                    <td class="text-center" th:unless="${t.owner!=null}">-</td>

                    <!--Task creator-->
                    <td th:text="${t.creatorName}" class="d-none d-lg-table-cell"></td>

                    <!--edit button-->
                    <td th:if="${isAdminSigned or isThisOneSigned}" class="d-none d-lg-table-cell">
                        <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-success btn-sm">Edit</a>
                    </td>

                    <td th:unless="${isAdminSigned or isThisOneSigned}" class="d-none d-lg-table-cell">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Only task owner or admin can edit this task">
                        <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-secondary btn-sm disabled">Edit</a>
                        </span>
                    </td>

                    <!--delete button-->
                    <td th:if="${isAdminSigned or isThisOneSigned}" class="d-none d-lg-table-cell">
                        <a data-toggle="modal" data-target="#modal-delete"
                           th:attr="data-target='#modal-delete'+${t.id}"
                           th:href="${'/task/delete/' + t.id}"
                           class="btn btn-outline-danger btn-sm">Delete
                        </a>
                    </td>

                    <td th:unless="${isAdminSigned or isThisOneSigned}" class="d-none d-lg-table-cell">
                        <span data-toggle="tooltip" data-placement="top" data-html="true"
                              title="Only task owner or admin can delete this task">
                        <a href="" class="btn btn-outline-secondary btn-sm disabled">Delete</a>
                    </span>
                    </td>

                    <!--modal for delete confirmation-->
                    <div class="modal" th:id="modal-delete+${t.id }">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-danger">Delete Confirmation</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${'Are you sure you want to delete task: &quot '+t.name+'&quot?'}"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                        Cancel
                                    </button>
                                    <a th:href="${'/task/delete/' + t.id}">
                                        <span class="btn btn-danger">Delete</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of modal for delete confirmation-->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

<!--DataTable plug-in-->
<!--remain scroll position after redirect-->
<script src="js/main.js"></script>

</body>
</html>