html {
    position: relative;
    min-height: 100%;
}

main.container {
    padding: 80px 5px 60px 5px;
}

.footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 45px;
    background-color: white;
    text-align: center;
}

.my-photo-miniature {
    height: 2.0rem;
    width: 1.5rem
}