<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Error Page</title>
</head>
<body class="my-error-background">
<div class="container mt-5">
    <div class="card border-danger mb-3">
        <div class="card-header">
            <h1>Something went wrong</h1>
        </div>
        <div class="card-body">
            <h2 class="my-second-header" th:if="${status}">
                <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                    th:if="${error}" th:text="'('+${error}+')'">error ...</span>
            </h2>
            <h2 class="my-second-header" th:if="${url}">
                <b>Page:</b> <span th:text="${url}">Page URL</span>
            </h2>
            <h4 th:if="${timestamp}" id='created'>
                <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
            </h4>

        </div>
    </div>
</div>
<footer class="error-page-footer">
    <p>Photo by Joel Filipe on Unsplash</p>
</footer>
</body>
</html>