<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Task Manager</title>
</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('home')"></th:block> /*/-->
</header>

<main class="container">
    <h1 class="display-2">Welcome to Task Manager</h1>
    <p class="lead">Spring Boot application that helps you get stuff done</p>

    <hr class="my-4">
    <h3>Features</h3>
    <ul>
        <li>user login and registration</li>
        <li>user roles</li>
        <li>Spring Security authentication</li>
        <li>access to navigation menu items based on user roles</li>
        <li>creating, updating and deleting tasks</li>
        <li>assigning task to user</li>
        <li>marking task as done</li>
        <li>H2 database</li>
        <li>visual representation with Thymeleaf, Bootstrap and jQuery</li>
    </ul>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

</body>
</html>